{% extends "spot/layout.html" %}
{% load static %}

{% block title %} Log in {% endblock %}

{% block body %}

    <div class="loginForm-cont">
        <img src="{% static 'spot/images/formdog.jpg' %}" alt="dog image">
        
        <form class="form-login" method="post">
            {% csrf_token %}
            <h2 class="login-title">Login</h2>
            <div class="mb-2">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input  name="username" type="text" class="form-control m-0" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-2">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="login-btn" id="login-btn">LOGIN</button>        
            <div class="alert alert-info" id="login-errmsg" role="alert">{{loginMsg}}</div>
        </form>
    </div>

{% endblock %}