body {
  background-color: #d2e8f4;
  overflow-x: hidden;
}

.navbar {
  background-color: #495bfd;
  z-index: 3;
}

.navbar-brand img {
  border-radius: 20px;
  border: 1px solid #fffbf4;
}

.login-title {
  text-align: center;
}

.loginForm-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.loginForm-cont img {
  width: 430px;
  height: 430px;
  min-width: 300px;
  min-height: 430px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.form-login {
  width: 430px;
  height: 430px;
  min-width: 200px;
  min-height: 200px;
  background-color: #6e9e94;
  padding: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-login label {
  color: #fffbf4;
}
.form-login .form-control:focus {
  border-color: #6e9e94;
  box-shadow: 0 0 0 0.25rem #41615b;
}
.form-login .alert {
  display: none;
}
.form-login .alert.register#login-errmsg {
  grid-area: msg;
  padding: 6px;
}

.login-btn {
  display: block;
  width: 200px;
  height: fit-content;
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-inline: auto;
  border-radius: 7px;
  border: none;
  background-color: #495bfd;
  color: #fffbf4;
}

.login-btn:hover {
  background-color: #0542e9;
  color: #fffbf4;
}

.login-btn.register {
  grid-area: button;
  margin-bottom: 6px;
}

.register .login-title {
  grid-area: title;
}
.register .mb-2:nth-of-type(1) {
  grid-area: username;
}
.register .mb-2:nth-of-type(2) {
  grid-area: email;
}
.register .mb-2:nth-of-type(3) {
  grid-area: name;
}
.register .mb-2:nth-of-type(4) {
  grid-area: lastname;
}
.register .mb-2:nth-of-type(5) {
  grid-area: birthdate;
}
.register .mb-2:nth-of-type(6) {
  grid-area: password;
}
.register .mb-2:nth-of-type(7) {
  grid-area: repeatP;
}

.form-login.register {
  display: grid;
  grid-template-areas: "title title title title" "username username email email" "name name lastname birthdate" "password password repeatP repeatP" "button button button button" "msg msg msg msg";
  gap: 6px;
}

@media (max-width: 600px) {
  .loginForm-cont img {
    display: none;
  }
  .form-login {
    border-radius: 20px;
  }
  .login-btn {
    width: 200px;
    margin-inline: auto;
    display: block;
  }
}
.main_index-info {
  display: flex;
  flex-direction: row;
}
.main_index-info .main-img1 {
  width: 100%;
  height: 100%;
  min-height: 40%;
  min-width: 40%;
}
.main_index-info .main-img2 {
  width: 100%;
  height: 100%;
  min-height: 50%;
  min-width: 50%;
}

.main_index-text {
  position: relative;
  color: white;
  width: 100%;
}
.main_index-text h2 {
  position: absolute;
  width: 98%;
  text-wrap: wrap;
  font-size: 5.2rem;
  margin-top: 10px;
  margin-left: 15px;
}
.main_index-text a {
  top: 240px;
  width: 15%;
  background-color: white;
  position: absolute;
  margin-left: 15px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 24px;
}
.main_index-text a:hover {
  transition: box-shadow 1s;
  box-shadow: 0 6px 14px 0 #d2e8f4;
}

.lastfm-section {
  display: flex;
  flex-direction: row;
  color: #fffbf4;
  width: 100vw;
  height: 100vh;
}
.lastfm-section .synchronize_lastfm {
  border: 1px solid white;
  width: 60vw;
  min-width: 570px;
  height: 35vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vw;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 6px 14px 0 #d2e8f4;
  z-index: 3;
}
.lastfm-section .synchronize_lastfm h3 {
  font-size: 3.5rem;
}
.lastfm-section .synchronize_lastfm a {
  display: block;
  background-color: #fffbf4;
  color: black;
  width: 200px;
  border-radius: 10px;
  padding: 8px;
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.lastfm-section .synchronize_lastfm a:hover {
  color: black;
}

.bg_synch-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 57px;
  filter: blur(2.8px);
}

.synch_bg-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 57px;
  background: linear-gradient(180deg, rgb(5, 21, 59) 0%, rgb(6, 18, 43) 50%, rgb(2, 9, 23) 100%);
  opacity: 0.7;
  z-index: 1;
}

@media (max-width: 1100px) {
  .main_index-info .main-img1 {
    display: none;
  }
  .main_index-info .main-img2 {
    width: 130%;
    min-height: 1%;
    min-width: 1%;
  }
  .main_index-text h2 {
    min-width: 610px;
  }
}
@media (max-width: 650px) {
  .main_index-text h2 {
    font-size: 400%;
  }
  .main_index-text a {
    top: 180px;
  }
  .lastfm-section .synchronize_lastfm h3 {
    font-size: 2.5rem;
  }
  .lastfm-section .synchronize_lastfm {
    min-width: 200px;
    height: 42.8vh;
  }
}
.footer {
  background-color: #495bfd;
}

/*# sourceMappingURL=styles.css.map */
